<div class="row footer">
	<div class="col-xs-4 col-xs-offset-4">
		<div class="col-xs-8 col-xs-offset-2">
			
				<div> &copy; Allxie Cleary 2015 </div>
			
		</div>
	</div>
</div>


<div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			<p> &copy; 2015 Allxie Cleary  </p>
		</div>
	</div>
</div>
