<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<div class="col-xs-8 col-xs-offset-2">
			<form>
				<input type="text" name="email">
				<br>
				<br>
				<input type="password" name="password">
				<br>
				<br>
				<button> Submit </button>
			</form>

		</div>
	</div>
</div>