<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/stylesheet.css">
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"> </script>
	<title>Dice</title>
</head>
<body>
<div class="wrapper">
<!-- navbar -->

<%- include partials/header.ejs %>

<!-- end navbar -->

	<div class="container">
		
		<div class="bump row">
			
		</div>
		<div class="row">
			<div class="col-xs-9 col-xs-offset-3 col-sm-2 col-sm-offset-0">
				<img src="bluedice.jpeg">

			</div>
			<div class="col-sm-7">
				<form>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-1">
							<h3> How many dice? </h3>
						</div>
						<div class="col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-0">
							<input id="numDice" type="number"  min="1" max="100000" placeholder="#"> 
						</div>
					</div>
					<br>
					<div class = "row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-1">
							<h3> How many sides on the dice?</h3>
						</div>
						<div class="col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-0">
							<input id="numSides" type="number" min="2" max="1000" placeholder="D12" > <br>
						</div>
					</div>
					<div class = "row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-1">
							<h3>Add a modifier or leave this blank.</h3> Modifier will be added as a constant to the sum of your roll.
						</div>
						<div class="col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-0">
							<input id="constant" type="number"  min="-1000" max="1000" placeholder="mod">
						</div>
					</div>
					<br>
					<button type="button" id="rollBut"> Roll </button>
				</form> 
			</div>
			<div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2">
				<div class="row">
					<div class="col-sm-12" id="individual"> </div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 result" id="rollsum"> </div>
				</div>
			</div>
		</div>
		<div class="bump row"> </div>

	</div> <!-- end container -->
</div>

<div class="navbar navbar-default navbar-static-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			<p> &copy; 2015 Allxie Cleary  </p>
		</div>
	</div>
</div>
	<script src="/diceObj.js"></script>
	<script> 
	$("#logout").click(function(){
	$("#logoutForm").trigger("submit");
})
</script>
</body>
</html>