<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/stylesheet.css">
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"> </script>
	<!-- For the charts -->
	<script type="text/javascript" src="jscharts.js"></script>
	<meta charset="UTF-8">
	<title>Dice</title>
</head>
<body>
<div class="wrapper">
<!-- navbar -->
	<div class="navbar navbar-default navbar-static-top" id="navbar-group" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">BuildsCharacter</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/dice">Dice </a></li>
				<li><a href="/characters/new"> New Character</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- end navbar -->

	<div class="container">
		<div class="row">
			<div class="col-xs-4" id="twoRowsForm">
				<h2>Dice Stat Comparison </h2> 
				<div> <p> Enter two rolls to compare. Each roll will have a number of dice to add together, a number of sides that are on each of those dice, and an additional number to add as a constant, which can be zero. </p> </div>
				<form>
					<div class="row"> <!-- Top of Form Lables -->
						<div class ="col-xs-3 col-xs-offset-6">
							Roll 1
						</div>
						<div class ="col-xs-3">
							Roll 2
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							How many dice?
						</div>
						<div class="col-xs-3">
							<input id="numDice" type="number"  min="1" max="1000" placeholder="#">
						</div>
						<div class="col-xs-3">
							<input id="numDice2" type="number"  min="1" max="1000" placeholder="#">
						</div>

					</div>



					<div class="row">
						<div class="col-xs-6">
							How many sides on the dice?
						</div>
						<div class="col-xs-3">
							<input id="numSides" type="number" min="2" max="1000" placeholder="D12">
						</div>
						<div class="col-xs-3">
							<input id="numSides2" type="number" min="2" max="1000" placeholder="D12">
						</div>
					</div>

					 
					<div class="row">
						<div class="col-xs-6">
							Add a modifier or leave this blank. Modifier will be added as a constant to the sum of your roll.
						</div>
						<div class="col-xs-3">
							<input id="constant" type="number"  min="-1000" max="1000" placeholder="mod">
						</div>
						<div class="col-xs-3">
							<input id="constant2" type="number"  min="-1000" max="1000" placeholder="mod">
							
						</div>
					</div>
						
					<br>
					<button type="button" id="rollStatBut"> Roll </button>
				</form> 
			</div>
			<div class="col-xs-8">
					<div id="loading"></div>

					<!-- LINE CHART -->
					<div id="chartcontainer"></div>
					<!-- PIE CHART -->
					<div id="chartid"></div>
				</div>
			</div>





		<div class="push"></div>
	</div>

<div class="navbar navbar-default navbar-static-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			<p> &copy; 2015 Allxie Cleary  </p>
		</div>
	</div>
</div>
<!-- Renders the graph -->
<script type="text/javascript">

</script>
	<script src="/stats_and_graphs.js"></script>
</body>
</html>