<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Brings in bootstrap and my stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/stylesheet.css">
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 header">
				Some stuff some stuff.
			</div>
			<div class="col-xs-2 header">
			</div>
			
		</div>
		<div class="row">
		
		</div>
		<div class="row">
		
			

		</div>

	


	</div>
</body>
</html>