<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Brings in bootstrap and my stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/stylesheet.css">
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>

<div class="wrapper">
	<!-- navbar -->
<!-- 	<div class="navbar navbar-default navbar-static-top" id="navbar-group" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">BuildsCharacter</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/dice">Dice </a></li>
					<li><a href="/characters/new"> New Character</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>
	</div> -->
	<%- include ../partials/header.ejs %>
	<!-- end navbar -->

	<div class="container">
		<div class="bump row">
			<div class="col-xs-6 col-xs-offset-3 formbox">
				<div class="row">
					<div  class="col-xs-4 col-xs-offset-4 ">
						<h1> Login </h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-3">
						<div class="col-xs-8 col-xs-offset-2">
							<form class="log" method="POST" action="/login">
								<input type="text" name="email" placeholder="email">
								<br>
								<br>
								<input type="password" name="password" placeholder="password">
								<br>
								<br>
								<button> Submit </button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="push"></div>
	<!-- End container -->
	</div>
</div>

<div class="navbar navbar-default navbar-static-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left" id="navbar-group">
			<p> &copy; 2015 Allxie Cleary  </p>
		</div>
	</div>
</div>


	
</body>
</html>